DATABASE_URL=mysql+aiomysql://root:@localhost:3306/agentforge
REDIS_URL=redis://localhost:6379/0

QDRANT_URL=http://localhost:6333
QDRANT_HOST=localhost
QDRANT_PORT=6333

# 🔥 MOST IMPORTANT
# DOCKER_HOST=npipe:////./pipe/docker_engine

ENV=development
DEBUG=true